.layout {
  min-height: 100vh;
  background-color: transparent;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 36px 32px 44px;
}

@media (max-width: 768px) {
  .main {
    padding: 24px 20px;
  }
}
